:root {
    --background-dark: #1D1C3B;
    --background-darker: #17162E;
    --white: #FFFFFF;
    --text-dark: #ACACAC;
    --checkmark: #706EA8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-darker);
}

body, input {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.125rem;
    color: var(--white);
}

input {
    border: none;
    background: transparent;
    outline: none;
}

h1 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.125rem;
}

.movies {
    margin: 3.875rem auto;
    width: 100%;
    max-width: 1224px;
}

/* HEADER */
.movies__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movies__header .header__search-form {
    margin-top: 3rem;
    margin-bottom: 1.875rem;
    width: 634px;
}

.header__search-form .search-form__field {
    display: flex;
    justify-content: space-between;
    background-color: #454558;
    border-radius: 0.5rem;
    padding: 26px 24px;
}

.search-form__field input {
    width: 100%;
    color: #FFFFFF;
}

.show-favorites {
    display: flex;
    align-items: center;
    gap: 11px;
    cursor: pointer;
}

.show-favorites input {
    opacity: 0;
    height: 0;
    width: 0;
}

.show-favorites .checkmark {
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--checkmark);
    border-radius: 4px;
    position: relative;
}

.show-favorites .checkmark::after {
    content: '';
    position: absolute;
    display: none;
    top: 0;
    width: 9px;
    height: 6.19px;

    border: solid #FFFFFF;
    border-left: 1.125px;
    border-bottom: 1.125px;
    transform: rotate(135deg);
}

.show-favorites input:checked ~ .checkmark {
    background-color: var(--checkmark);
}

.show-favorites input:checked ~ .checkmark::after {
    display: block;
}

/* LIST */
.movies__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 4rem;
}

/* CARD */
.movie {
    background-color: var(--background-dark);
    border-radius: 0.5rem;
    box-shadow: 32.8387px 24.5482px 79px rgba(0, 0, 0, 0.15), 23.8851px 17.855px 53.2479px rgba(0, 0, 0, 0.121406), 16.6246px 12.4276px 34.4391px rgba(0, 0, 0, 0.10125), 10.9035px 8.15079px 21.3701px rgba(0, 0, 0, 0.0867188), 6.56775px 4.90965px 12.8375px rgba(0, 0, 0, 0.075), 3.46346px 2.58907px 7.6377px rgba(0, 0, 0, 0.0632813), 1.4367px 1.07399px 4.56719px rgba(0, 0, 0, 0.04875), 0.333519px 0.249318px 2.42246px rgba(0, 0, 0, 0.0285938);

    display: flex;
    align-items: center;
    padding: 2rem 2.875rem;
}

.movie .movie__image {
    width: 8.75rem;
    height: 8.75rem;
    margin-right: 4rem;
}

.movie__image img {
    object-fit: contain;
    border-radius: 50%;
}

.movie__info {
    width: 16.125rem;
    margin-right: 4.875rem;
}

.movie__info .movie__title {
    font-weight: 500;
}

.movie__info .movie__rate,
.movie__info .favorite {
    display: inline-flex;
    gap: 0.75rem;
    font-weight: 400;
}

.movie__info .movie__rate {
    margin-top: 1.5rem;
    margin-right: 2.75rem;
}

.movie__description {
    width: 37rem;
    color: var(--text-dark);
    font-weight: 500;
}

